<div class="ui {{isLoggedIn()?'four':'three'}} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
  @if (isLoggedIn()){
    <a routerLink="admin" routerLinkActive="active" class="item">Administration</a>
  }
  <a routerLink="login" routerLinkActive="active" class="item">{{ getLoginLabel() }}</a>
</div>
<div class="ui container">
  <router-outlet></router-outlet>
</div>
<div>
  Hier könnte ein schöner Footer sein....
</div>


