<div class="ui container">
  <h1>Home</h1>
  <p>Willkommen beim KWM Bookstore</p>
  <a routerLink="../books" class="ui red button">Buchliste ansehen</a>
  <bs-search class="column" (bookSelected)="bookSelected($event)"></bs-search>
</div>
